<footer>
    <style type="text/css">
        p{
            color: #fff;
            font-size: 11px;
        }
        </style>
        <p>Todos os direitos reservados para SandroXC &copy;</p>
</footer>